*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightskyblue;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 1.5vmin ;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:rgb(141, 9, 77);
}

#reset-btn{
    padding: 1rem;
background-color: rgb(55, 52, 52);
color: whitesmoke;
border-radius: 1rem;

}

#new-btn{
    padding: 1rem;
background-color: rgb(55, 52, 52);
color: whitesmoke;
border-radius: 1rem;
}
#msg {
    color: aliceblue;
    font-size: 5vmin;
}
.msgcontainer{
height: 22vmin;
}
